<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714690309848-vi6ma4jvpksq7bht2lefni6i0nnco3v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714690309848-vi6ma4jvpksq7bht2lefni6i0nnco3v6</string>
	<key>API_KEY</key>
	<string>AIzaSyAzeetQE3nrQt7fVLLtvappTwmApGi1h0M</string>
	<key>GCM_SENDER_ID</key>
	<string>714690309848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b8cce</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b8cce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714690309848:ios:35cf589ea0e1fdc218b1ad</string>
</dict>
</plist>